@font-face {
    font-family: 'e-Ukraine';
    src: local('e-Ukraine Bold'), local('e-Ukraine-Bold'),
    url('e-Ukraine-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: local('e-Ukraine Regular'), local('e-Ukraine-Regular'),
    url('e-Ukraine-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'e-Ukraine';
    src: local('e-Ukraine Medium'), local('e-Ukraine-Medium'),
    url('e-Ukraine-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: local('e-Ukraine Thin'), local('e-Ukraine-Thin'),
    url('e-Ukraine-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: local('e-Ukraine Light'), local('e-Ukraine-Light'),
    url('e-Ukraine-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine';
    src: local('e-Ukraine UltraLight'), local('e-Ukraine-UltraLight'),
    url('./e-Ukraine-UltraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}