@import "defaults";

.content {
  height: 100%;
  padding: 0 20px 20px;
  overflow-x: hidden;

  @media screen and (max-width: 756px) {
      padding: 0;
  }
}

.svidomi_btn  {
  border-radius: 10px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  background: $c-Accent;

  &:hover {
    background: $c-Accent-2
  }

  &:active {
    background: $c-Accent-3;
    border-color: $c-Accent;
  }

  &__secondary {
    background: #fff;
    border: 2px solid #000;
    color: #000;

    &:hover {
      background: #FEF0C9;
    }

    &:active {
      background: #FEF0C9;
      border-color: $c-Accent;
    }
  }

  &__other {
    background: #fff;
    border: 2px solid #000;
    color: #000;

    &.active,
    &:hover {
      background: $c-Accent-2;
      border-color: $c-Accent-2;
    }

    &:active {
      background: $c-Accent-3;
      border-color: $c-Accent;
    }
  }
}

.container {
  max-width: 1140px;
  width: 100%;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 0px 62px 0px #0071CE26;
  padding: 36px;
}

.blue-circle_left_bottom {
  position: absolute;
  bottom: -60px;
  left: -60px;

  @media screen and (max-width: 756px) {
    transform: scale(0.65);
    left: -130px;
    bottom: -80px;
  }
}

.blue-circle_left_bottom_sm {
  position: absolute;
  bottom: -93px;
  left: -113px;
  transform: scale(0.5);
}

.blue-circle_left_top_xs {
  position: absolute;
  left: -133px;
  top: -133px;
  transform: rotate(90deg) scale(0.33);
}

.blue-circle_left_top_sm {
  position: absolute;
  left: -113px;
  top: -92px;
  transform: rotate(90deg) scale(0.5);
}

.blue-circle_right_top {
  position: absolute;
  top: -40px;
  right: -80px;
  transform: rotate(180deg);

  @media screen and (max-width: 756px) {
    transform: rotate(180deg) scale(0.65);
    right: -130px;
    top: -80px;
  }
}

.blue-circle_right_top_sm {
  position: absolute;
  top: -110px;
  right: -110px;
  transform: rotate(180deg) scale(0.5);

  @media screen and (max-width: 767px) {
    width: 220px;

    top: -48px;
    right: -66px;
  }
}

.smooth_scroll {
  width: 100%;

  &_fit {
    max-width: 430px;
    width: 100%;
  }
}

.modal {
}

.modal {
  position: fixed;
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 10px;

  bottom: 20px;
  left: 20px;

  z-index: 1000;

  width: calc(100% - 40px);

  box-shadow: 0px 0px 62px 0px #0071CE26;

  @media screen and (max-width: 600px) {
    bottom: 10px;
    left: 10px;

    width: calc(100% - 20px);
  }

  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-left: -10px;
    margin-right: -10px;

    @media screen and (max-width: 1026px) {
      margin-bottom: -10px;
    }

    @media screen and (max-width: 600px) {
      margin-left: -5px;
      margin-right: -5px;
    }
  }

  &__col {
    width: 25%;
    padding: 0 10px;

    @media screen and (max-width: 1026px) {
      width: 50%;

      margin-bottom: 10px;
    }

    @media screen and (max-width: 600px) {
      padding: 0 5px;

      &:first-of-type,
      &:last-of-type {
       width: 100%;
      }
    }
  }

  &__text {
    font-size: 12px;
  }

  &__button {
    font-size: 12px;
    width: 100%;

    height: 44px;
    padding: 10px;

    &.modal__button_cancel_info {
      @media screen and (max-width: 600px) {
        border: none;
        padding: 0;
        height: auto;
        text-align: left;

        justify-content: flex-start;
        margin-top: 5px;
      }
    }
  }
}

.scroll-btn {
  width: 74px;
  height: 74px;
  border-radius: 100%;
  background: $c-Accent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  right: -100px;
  bottom: 195px;
  transition: right 300ms ease-out;
  cursor: pointer;
  transition: 200ms;

  &:hover {
    background: $c-Accent-2;
  }

  &_active {
    right: 94px;
  }

  @media screen and (max-width: 756px) {
    width: 48px;
    height: 48px;
    bottom: 16px;

    & > img {
      width: 16px;
    }

    &_active {
      right: 16px;
    }
  }
}

@keyframes activateScrollBtn {
  0% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(0);
  }
}