$c-Bluescale-1: #B0D4FF;
$c-Bluescale-2: #89B9F3;
$c-Bluescale-3: #6BA9F2;

$c-Accent: #FED400;
$c-Accent-2: #FFBD12;
$c-Accent-3: #FFB800;
$c-Secondary-hover: #FEF0C9;

$backgroundGradient: linear-gradient(98.27deg, #B0D4FF 0%, #5B9CD8 100%);
