@import "defaults";

.footer {
  background: linear-gradient(98.27deg, #B0D4FF 0%, #5B9CD8 100%);
  padding: 54px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;

  &_panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 88px;
    height: 100%;
    //gap: 84px;

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 88px;
    }
  }

  &_menu {
    height: 66px;
    align-items: flex-start;
  }

  &_logo {
    display: flex;
    align-items: flex-end;
    gap: 6px;
    max-width: 221px;

    & svg {
      fill: #fff;
    }

    & > h2 {
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      color: #fff;
    }
  }

  //&_menu {
  //  display: flex;
  //  justify-content: space-between;
  //  align-items: center;
  //  gap: 48px;
  //}

  &_link {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    transition: border 200ms;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 2px; /* Товщина підкреслення */
      background-color: #fff; /* Колір підкреслення */
      transition: width 0.3s ease; /* Плавний перехід */
    }

    &:hover::after {
      width: 100%;
    }
  }

  &_email_wrapper {
    display: flex;
    align-items: center;
    gap: 9px;
  }

  &_social_buttons {
    display: flex;
    gap: 16px;

    .social_btn {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $c-Accent;
    }
  }

  &_address {
    align-items: flex-end;

    & > span {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
    }
  }

  hr {
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 0;
    border: none;
    display: block;
  }

  .rights {
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
  }
}