@import "defaults";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  //min-height: 84px;
  height: 100%;
  max-height: 108px;
  padding: 32px 0 28px 0;

  &_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_logo {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  &_right-block {
    display: flex;
    gap: 82px;
  }

  .language-selector {
    display: flex;
    gap: 16px;
    align-items: center;

    & > span {
      font-size: 18px;
      font-weight: 400;
      color: #000;
      transition: 200ms;
      cursor: pointer;

      &:hover {
        color: $c-Accent;
      }
    }

    .active-lang {
      color: $c-Accent;
    }

    .language-divider {
      width: 1px;
      height: 26px;
      background: #000;
    }
  }

  .phone {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;

    &-icon_wrapper {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $c-Accent;
    }
  }
}