.information {
  background: linear-gradient(98.27deg, #B0D4FF 0%, #5B9CD8 100%);
  border-radius: 30px;
  display: grid;
  gap: 16px;
  padding: 76px 0 76px 64px;
  grid-template-columns: 2fr 1fr;

  &_content {

    & > h3 {
      font-size: 40px;
      font-weight: 700;
      max-width: 838px;
      margin-bottom: 16px;
    }
  }

  &_block_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 79px 16px;
  }

  &_block {
    display: flex;
    gap: 16px;
    max-width: 550px;

    &_icon {
      width: 134px;
      min-width: 134px;
      height: 134px;
      border-radius: 100%;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_text {
      display: flex;
      flex-direction: column;
      //padding-top: 30px;
      gap: 8px;

      & > h4 {
        font-size: 24px;
        font-weight: 700;
      }

      & > h6 {
        font-size: 14px;
        font-weight: 500;
      }

      & > p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22.4px;
      }
    }
  }

  .starlink-img {
    object-fit: cover;
    margin: -65px 0;
  }
}