.support {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  .awards {
    &_wrapper {
      display: flex;
      min-height: 490px;
      height: 100%;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 100px;
    }

    &_card {
      padding: 100px 32px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 62px 0px #0071CE26;
      width: 100%;

      & > h3 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 24px;
      }

      & > p {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 32px;
      }

      &__blue {
        box-shadow: none;
        border-radius: 32px;
        background: linear-gradient(98.27deg, #B0D4FF 0%, #5B9CD8 100%);
        padding: 45px 0;
        overflow: hidden;
        //display: flex;
        //align-items: center;
        //justify-content: space-between;
        //gap: 80px;
      }
    }

    &_btn {
      height: 56px;
      width: 100%;
    }

  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    & > img {
      height: 400px;
    }
  }

  .request {
    &_card {
      padding: 32px;
      background: linear-gradient(271.14deg, #B0D4FF 2.01%, #5B9CD8 98.05%);
      border-radius: 32px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      margin-bottom: 68px;
    }

    &_form {
      padding: 72px 0;
      display: flex;
      flex-direction: column;
      gap: 32px;

      & > h3 {
        font-weight: 700;
        font-size: 40px;
        color: #fff;
      }

      & > p {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
      }
    }

    &_input {
      border: none;
      border-radius: 20px;
      background: #fff;
      padding: 10px 12px;
      width: 100%;
    }

    &_textarea {
      width: 100%;
      border: none;
      border-radius: 20px;
      min-height: 120px;
      padding: 10px 12px;
    }

    &_agreement {
      font-size: 16px;
      font-weight: 400;
    }
  }

  &_card {
    width: 100%;
    padding: 128px 52px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    .antenna {
      position: absolute;
      bottom: -20px;
      left: -20px;
    }

    .black-drone {
      position: absolute;
      top: -130px;
      right: -84px;
    }

    &_content {
      max-width: 805px;
      width: 100%;
      position: relative;
      z-index: 1;

      & > h3 {
        text-align: center;
        font-weight: 700;
        font-size: 40px;
      }
    }

    &_buttons {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    &_btn {
      max-width: 430px;
      width: 100%;
    }
  }
}