@import url('../fonts/e-UkraineHead/import.css');
@import url('../fonts/e-Ukraine/import.css');
@import url('./reset.css');

h1,h2,h3,h4,h5,h6 {
    font-family: 'e-UkraineHead';
}

* {
    font-family: 'e-Ukraine';
    word-break: break-word;
    font-weight: 500;
    scroll-behavior: smooth;
}

body {
    /*overflow-y: scroll;*/
    background: #ffffff;
    min-height: 100vh;
}

a {
    color: #000;
    text-decoration: none !important;
}