<section class="about">
    <div class="about_container">
        <h3 data-i18n="aboutWhyTitle"></h3>
        <div class="about_cards_wrapper">
            <div class="card about_card">
                <span class="about_card_number">01</span>
                <img class="blue-circle_left_top_sm" src="./assets/img/blue-circles.png" alt="blue-circles"/>
                <h4 data-i18n="finsectorStrength"></h4>
                <p data-i18n="finsectorStrengthDescription"></p>
            </div>
            <div class="card about_card">
                <span class="about_card_number">02</span>
                <img class="blue-circle_left_top_sm" src="./assets/img/blue-circles.png" alt="blue-circles"/>
                <h4 data-i18n="projectApproach"></h4>
                <p data-i18n="projectApproachDescription"></p>
            </div>
            <div class="card about_card">
                <span class="about_card_number">03</span>
                <img class="blue-circle_left_top_sm" src="./assets/img/blue-circles.png" alt="blue-circles"/>
                <h4 data-i18n="focus"></h4>
                <p data-i18n="focusDescription"></p>
            </div>
            <div class="card about_card">
                <span class="about_card_number">04</span>
                <img class="blue-circle_left_top_sm" src="./assets/img/blue-circles.png" alt="blue-circles"/>
                <h4 data-i18n="allTransparent"></h4>
                <p data-i18n="allTransparentDescription"></p>
            </div>
        </div>
    </div>
</section>