<section class="donation">
    <div class="donation_container">
        <div class="card collection-card">
            <div class="collection-card_yellow-circle"></div>
            <img class="blue-circle_left_bottom"
                 src="./assets/img/blue-circles.png" alt="blue-circles"/>
            <img class="blue-circle_right_top"
                 src="./assets/img/blue-circles.png" alt="blue-circles"/>
            <div class="collection-card_content">
                <div class="collection-card_titles">
                    <h3 data-i18n="supportCollection"></h3>
                    <h3 data-i18n="collectionName"></h3>
                </div>
                <p data-i18n="collectionDescription"></p>
                <div class="collection-card_buttons">
                    <button class="svidomi_btn collection-card_btn"
                            data-i18n="otherBankDonation">
                    </button>
                    <button class="svidomi_btn collection-card_btn svidomi_btn__secondary collection-card_mono-btn">
                        <img src="./assets/img/mono-logo.png" alt="mono logo"
                             class="mono-logo"/>
                        <span data-i18n="monoDonation"></span>
                    </button>
                </div>
            </div>
            <img class="mono-cat" src="./assets/img/mono-cat.png"
                 alt="mono cat"/>
        </div>
        <div class="donation_block">
            <div class="donation_titles">
                <h2 data-i18n="donation"></h2>
                <span data-i18n="donationTip"></span>
            </div>
            <div class="donation_panel">
                <div class="donation_variants">
                    <button class="svidomi_btn donation_btn"
                            data-i18n="monobank"></button>
                    <button class="svidomi_btn svidomi_btn__secondary donation_btn"
                            data-i18n="privat"></button>
                    <button class="svidomi_btn svidomi_btn__secondary donation_btn"
                            data-i18n="liqpay"></button>
                </div>
                <div class="card donation_card">
                    <img src="./assets/img/blue-circles.png"
                         class="blue-circle_right_top blue-circle_right_top_sm"
                         alt="blue-circles"/>
                    <div class="donation_card_title">
                        <button class="svidomi_btn donation_btn"
                                data-i18n="otherBankDonation"></button>
                        <div class="donation_pay-services">
                            <img src="./assets/img/apple-pay.png"
                                 alt="apple pay" class="pay-img"/>
                            <img src="./assets/img/google-pay.png"
                                 alt="apple pay" class="pay-img"/>
                            <img src="./assets/img/card-pay.png" alt="apple pay"
                                 class="pay-img"/>
                        </div>
                    </div>
                    <p class="donation_card_policy"
                       data-i18n="donationCardPolicy"></p>
                    <p class="donation_card_warning"
                       data-i18n="donationCardWarning"></p>
                </div>
            </div>
        </div>
    </div>
</section>