<footer class="footer">
    <div class="container">
        <div class="footer_panel">
            <div class="footer_logo">
                <img src="./assets/img/logo-white.png" alt="white logo" />
                <h2 data-i18n="logoText" class="footer_logo_text"></h2>
            </div>
            <div class="footer_menu">
                <a href="#" class="footer_link" data-i18n="forZSURequests"></a>
                <a href="#" class="footer_link" data-i18n="forAllRequests"></a>
                <div class="footer_email_wrapper">
                    <img src="./assets/icons/mail.svg" alt="email" />
                    <a href="#" class="footer_link" data-i18n="email"></a>
                </div>
                <div class="footer_social_buttons">
                    <a href="https://instagram.com" target="_blank" class="social_btn">
                        <img src="./assets/icons/instagram.svg" alt="instagram" />
                    </a>
                    <a href="https://facebook.com" target="_blank" class="social_btn">
                        <img src="./assets/icons/facebook.svg" alt="facebook" />
                    </a>
                    <a href="https://instagram.com" target="_blank" class="social_btn">
                        <img src="./assets/icons/telegram.svg" alt="telegram" />
                    </a>
                </div>
            </div>
        </div>
        <hr/>
        <span data-i18n="allRightReserved" class="rights"></span>
    </div>
</footer>