<section class="main">
    <img src="./assets/img/red-drone.png" alt="red-drone" class="red-drone" />
    <div class="main_content">
        <h3 data-i18n="charityOrganization"></h3>
        <h2 data-i18n="charityFoundation"></h2>
        <div class="foundation-name_wrapper">
            <img class="paint" src="./assets/img/paintAccent.png" alt="paint" />
            <h1 data-i18n="svidomi"></h1>
        </div>
        <div class="main_buttons">
            <button class="svidomi_btn main_btn" data-i18n="supportFund">
            </button>
            <button class="svidomi_btn main_btn main_btn__secondary" data-i18n="becomeFrontman">
            </button>
        </div>
        <p class="main_description" data-i18n="mainDescription">
        </p>
    </div>
    <img src="./assets/img/grey-drone.png" alt="grey-drone" class="black-drone" />
</section>