<section class="support">
    <div class="support_container">
        <div class="card support_card">
            <img class="blue-circle_left_bottom" src="./assets/img/blue-circles.png" alt="blue-circles"/>
            <img class="antenna" src="./assets/img/antenna.png" alt="antenna" />
            <div class="support_card_content">
                <h3 data-i18n="rearTitle"></h3>
                <h3 data-i18n="rearDescription"></h3>
                <div class="support_card_buttons">
                    <button class="svidomi_btn support_card_btn" data-i18n="supportFront"></button>
                    <button class="svidomi_btn svidomi_btn__secondary support_card_btn" data-i18n="becomeFrontman"></button>
                </div>
            </div>
            <img class="blue-circle_right_top" src="./assets/img/blue-circles.png" alt="blue-circles"/>
            <img class="black-drone" src="./assets/img/black-drone.png" alt="black drone" />
        </div>
    </div>
</section>